@tailwind base;
@tailwind components;
@tailwind utilities;

/* Import Sora font */
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

/* Root variables for color scheme */
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* Dark mode media query */
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* Apply Sora font family to body and specific elements */
body {
  font-family: 'Sora', sans-serif; /* Use Sora font */
}

/* Global styles */
html,
body,
#__next {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-container {
  width: 430px;
  height: 932px;
  overflow: wrap;
  border: 1px solid #000;
  position: relative;
}

/* Bottom navigation styles */
.btm-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 50px;
  z-index: 1000;
  position: fixed;
  bottom: 0;
  border-top: 1px solid #000;
}

.btm-nav a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.btm-nav a.active {
  font-weight: bold;
}

/* Background and foreground colors */
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

/* Utility class example */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
